.modal-body thead>tr{
  border-bottom: 2px solid rgba(192, 192, 192, 0.61);
  border-top: 1px solid rgba(192, 192, 192, 0.61);
}
#tModal tr{
  border-top: 1px solid rgba(192, 192, 192, 0.61);
}
.modal-body thead tr th, #tModal tr td{
  padding: 10px 20px;
}
#tModal tr:last-of-type{
  background: #28a74648;
  color: #1d8b37;
  border:none;
}